b {
    font-weight: normal;
}

.gsc-control-cse .gs-spelling, .gsc-control-cse .gs-result .gs-title, .gsc-control-cse .gs-result .gs-title * {
    font-size: calc(20px*1) !important;
    margin-bottom: 10px;
}

.gs-promotion .gs-visibleUrl, .gs-webResult .gs-visibleUrl {
    margin-bottom: 10px;
}

.gs-webResult .gs-snippet, .gs-fileFormatType {
    font-size: 14px;
    font-family: Roboto,Helvetica Neue,Arial,sans-serif;
    color: #4d5156 !important;
    line-height: 20px;
}